@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-image: url('./assets/blob-scene-haikei-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 481px) and (max-width: 767px) {
  :root {
    background-image: url('./assets/blob-scene-haikei-3.svg');
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    background-image: url('./assets/blob-scene-haikei-4.svg');
  }
}
